.carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: auto;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-card {
    width: 90%; /* Ajusta según sea necesario */
    height: 400px; /* Ajusta la altura según sea necesario */
    background-color: #f4f4f4; /* Color de fondo de la tarjeta */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para que ocupe todo el área del contenedor */
    margin-bottom: 120px;
  }
  
  .carousel-content {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 2rem;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

  .TitleVideo {
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 60px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center; /* Asegura que el texto esté centrado dentro del contenedor */
    color: rgb(65, 65, 151);
  }
  